body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    text-decoration: none;
    background-color: rgb(89, 183, 255);
}
.cont{
    background-color: white;
    width: 80%;
    margin: 5%;
    padding: 5%;
    border-radius:5%;
    border-left:3px solid indianred;
    border-top:3px solid indigo;

}
.titlepsec{
 color: black;
 background-color: antiquewhite;
 border-left: 3px solid rgb(253, 247, 82);
 padding: 5px;
 padding-left: 5%;
 border-radius: 10px;
}
.mcont{
    color: gray;
     background-color: rgb(170, 226, 254);
 border-left: 3px solid rgb(104, 170, 251);
 padding: 5px;
 padding-left: 5%;
 padding-right: 5%;

 border-radius: 10px;
}
.a{
    border: 1px solid black;
background-color: rgb(64, 179, 246);
}
a , .a{
    text-decoration: none;
    color: gray;
    padding: 10px;
    margin: 20px;
color: rgb(255, 235, 54);
border-radius:15px ;
    
}